<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

        <!-- SPELLS -->
        <!-- script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script --><!-- load angular -->
        <!-- ??? Latest compiled and minified CSS -->
        <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" -->
        <!-- jQuery library -->
        <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script -->
        <!-- Popper JS -->
        <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script -->
        <!-- ??? Latest compiled JavaScript -->
        <!-- script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script -->
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
    <script>
        //function onSelfDelete() {
          //  if (confirm('Are you sure to delete this record ?') == true) {
            //    console.log("onSelfDelete yes delete");
            //} else {
              //  console.log("onSelfDelete No delete");
            //}
        //};
    </script>
    <script>
            $(document).ready(function(){
              $("#mybutton").click(function(){
                if (confirm('Are you sure to delete this record ?') == true) {
                    console.log(" yes delete");
                } else {
                    console.log(" No delete");
                }
                $("#myp").toggle();
              });
            });
    </script>

</head>
<body>
<div class="container">
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Your Profile</h1>
        <a href="javascript:history.go(-1)" class="btn btn-default btn-sm">Close Your Profile</a>
    </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                <% if (user.local.email) { %>
                    <p>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>screenName</strong>: <%= user.local.screenName %><br>
                        <!-- strong>private</strong>: <%= user.local.private %><br -->
                        
                        <form action="/changeProfile" method="post">
                            <div class="form-group">
                                <label>Screen Name</label>
                                <input type="text" class="form-control" name="screenNameNew"  value="<%= user.local.screenName %>">
                            </div>
                            <div class="form-group">
                                <label>*Private Y/N</label>
                                <!-- ng-model="formData.privateNew" -->
                                <select type="text" class="form-control" name="privateNew"  
                                value="<%= user.local.private %>" > <!-- required -->
                                <% if (user.local.private == "N") { %>
                                    <option value="Y" >Y</option>
                                    <option value="N" selected>N</option>
                                <% } else { %>
                                    <option value="Y" selected>Y</option>
                                    <option value="N" >N</option>
                                <% } %>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-warning btn-lg">Save</button>
                        </form>
                    </p>
                   
                    <a href="/chgPassword" class="btn btn-default"  >Change Password</a>
                    <!-- a href="/unlink/local" class="btn btn-default">Unlink</a -->
                    <a href="/unlink/local" class="btn btn-default"  onclick="return confirm('Are you sure you want to be removed completely from this app?')">Remove Me!</a>
                   
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>
            </div>
            <!-- div>
                    <button id="mybutton" >Toggle</button>
                    <p id="myp">Some text that will be hidden/shown ( toggle ) when the above toggle button is clicked. 
                        This is based on the id of the element being myp</p>
            </div -->
        </div>       
    </div>
</div>
</body>
</html>
